/* UTILITÁRIOS GERAIS */
.responsive-container {
  width: auto;
  height: auto;
}

/* BREAKPOINT: até 200px */
@media (max-width: 200px) {
  .responsive-container {
    width: auto;
    height: auto;
  }

  .item-projeto {
    min-width: 160px;
  }

  .container-habilidades {
    max-width: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icones-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 5.1rem;
    text-align: center;
    align-items: center;
  }

  .container-experiencias,
  .item-experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .flex-experiencia {
    min-width: 185px;
    gap: 0.2rem;
    padding: 1.2rem;
    font-size: 0.5rem;
  }
}

/* BREAKPOINT: até 450px */
@media (max-width: 450px) {
  .responsive-container {
    width: auto;
  }

  #UserImage {
    margin-bottom: 0;
  }

  .switch {
    transition: 0.5s;
  }

  .switch.show {
    opacity: 0;
    pointer-events: none;
  }

  .header {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-sobre {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .container-sobre > p {
    font-size: 1em;
  }

  .whatsapp {
    margin: 2em auto;
    width: 10%;
    font-size: 1em;
    font-weight: 100;
  }

  .container-projetos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .item-projeto {
    min-width: 250px;
  }

  .item-projeto > img {
    display: none;
  }

  .container-habilidades,
  .texto-habilidades,
  .icones-habilidades {
    text-align: center;
    margin: 0 auto;
  }

  .icones-habilidades {
    width: 50%;
  }

  .container-experiencias,
  .item-experiencia,
  .flex-experiencia {
    margin: 0 auto;
    text-align: left;
    font-size: 0.8rem;
  }

  footer {
    text-align: center;
    align-items: center;
  }
}

/* BREAKPOINT: até 768px */
@media (max-width: 768px) {
  .responsive-container {
    width: auto;
  }

  #UserImage {
    margin-bottom: 6rem;
  }

  .nav-ul .nav-li {
    display: none;
  }

  html.toggle {
    background-color: #fff;
  }

  html.show {
    overflow-y: hidden;
  }

  .nav-ul.show {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .switch {
    transition: 0.5s;
    margin: 0;
  }

  .switch.show {
    opacity: 0;
    pointer-events: none;
  }

  #menu {
    display: block;
    position: absolute;
    width: 99%;
    top: 70px;
    right: -7em;
    background: #f5f5f5;
    transition: 0.6s;
    height: 0;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .container-inicial,
  .container-sobre,
  .container-projetos,
  .container-habilidades,
  .container-experiencias {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .texto-inicial p,
  .texto-inicial h1 {
    text-align: center;
    margin: 0 auto;
  }

  .whatsapp {
    margin: 1em auto;
    width: 150px;
    font-size: 0.8em;
  }

  .item-projeto {
    min-width: 70%;
  }

  .icones-habilidades {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .moldura-icone {
    margin: 0.5em auto;
  }

  .moldura-icone > p {
    display: none;
  }

  .item-experiencia,
  .flex-experiencia {
    width: 90%;
    font-size: 0.8rem;
    padding: 1.5rem;
    margin: 2em auto;
  }

  .h2-experiencia {
    margin: 0 auto;
  }

  footer {
    text-align: center;
    align-items: center;
  }
}