/** @format */

html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #111111;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.background-day {
	background-color: white;
	color: black;
}

.header {
	height: 70px;
	background-color: #2c2c2c;
	display: flex;
	align-items: center;
	justify-content: end;
	overflow-x: hidden;
}

.header.background-day-gray {
	background-color: #ebebeb;
}

.menu-hamburguer {
	display: none;
}
.nav-ul {
	display: flex;
	gap: 2em;
	list-style: none;
	margin-right: 4em;
	max-width: 1400px;
}

.nav-li {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: semibold;
	transition: 0.5s;
	width: 10px;
}

.nav-li.text-day {
	color: #000000;
}

.nav-li:hover {
	border-bottom: #5882fa solid 1px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-right: 2em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #d4ac0d;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background-image: url('assets/moon-regular.svg');
}

input:checked + .slider {
	background-color: whitesmoke;
}

input:focus + .slider {
	box-shadow: 0 0 1px whitesmoke;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background: url('assets/sun-regular.svg');
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.container-inicial {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 3em auto;
	justify-content: space-between;
	max-width: 1400px;
}

h2 {
	font-size: 36px;
}
.texto-inicial {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.texto-inicial > p {
	font-weight: lighter;
	font-size: 24px;
}

.texto-inicial > h1 {
	font-weight: 700;
	font-size: 36px;
}

.texto-inicial > h2 {
	font-size: 24px;
	font-weight: lighter;
}

.imagem-inicial {
	width: 60%;
}

.imagem-inicial > img {
	width: 100%;
}

.sectOff {
	background-color: #2c2c2c;
	transition: 0.5s;
}

.sectOff.background-day-gray {
	background-color: #ebebeb;
}

.botao {
	padding: 1em 2em;
	border-radius: 5px;
	text-align: center;
	background-color: #5882fa;
	width: 50%;
	color: white;
	text-decoration: none;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space;
	transition: 0.2s;
}

.botao > img {
	width: 25px;
}

.botao:hover {
	background-color: #5dad;
}
.texto-sobre {
	width: 50%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	gap: 4em;
}

.container-projetos {
	width: 90%;
	max-width: 30%;
	max-height: 30%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-radius: 5px;
	gap: 2em;
}

.item-projeto > {
	width: 100;
	padding: 2em 1em;
	background-color: #2c2c2c;
	display: inline-flexbox;
	flex-direction: row;
	justify-content: space-between;
	transition: 0.5s;
	text-align: justify;
	gap: 2em;
	border: solid 2px transparent;
}
.item-projeto > img {
	max-width: 50%;
	max-block-size: 50%;
}

.item-projeto.background-day-gray {
	background-color: #ebebeb;
}

.item-projeto > .botao {
	width: 35%;
}
.item-projeto:hover {
	border: #5882fa 2px solid;
}

.moldura-icone.background-day {
	background-color: white;
}

.day-mode {
	background-color: #ccc;
	color: #5882fa;
}

footer {
	margin-top: -5px;
	background-color: #5882fa;
	padding: 2em;
	display: flex;
	justify-content: center;
	gap: 4em;
	list-style: none;
}

.mobile {
	display: none;
}

@media only screen and (max-width: 800px) {
	.nav-ul {
		position: absolute;
		transition: 1s;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		top: 70px;
		right: -1000px;
		padding: 2em;
		gap: 5em;
	}

	.nav-li {
		border-bottom: #2c2c2c solid 2px;
		transition: 0.2s;
	}

	html.toggle {
		background-color: #2c2c2c;
	}

	.nav-li:hover {
		border-bottom: 6px solid #5882fa;
	}

	html.show {
		overflow-y: hidden;
	}

	.nav-ul.show {
		position: absolute;
		right: -65px;
		display: flex;
		flex-direction: column;
		background-color: #111111;
	}
	.nav-ul.background-day-gray {
		background-color: rgb(250, 250, 250);
	}
	.switch {
		transition: 0.5s;
	}
	.switch.show {
		opacity: 0;
		pointer-events: none;
	}

	.menu-hamburguer {
		display: block;
		width: 25px;
		cursor: pointer;
	}
	.menu-hamburguer.show {
		position: relative;
	}

	.header {
		flex-direction: row-reverse;
		justify-content: space-around;
		transition: 1s;
	}

	.switch {
		margin: 0;
	}
	.container-inicial {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.imagem-inicial {
		margin-left: -3em;
	}

	.texto-inicial {
		text-align: center;
	}

	.container-sobre {
		flex-direction: column;
	}

	.botao {
		width: 45%;
	}

	.container-projetos {
		flex-direction: column;
	}

	.item-projeto {
		width: 70%;
	}
}
/*

:root{
	--vermelho: #E50914;
	--preta:#141414;
 
 
	
 }
 */
/*
.body {
	font-family:  font-family: "Times New Roman", Times, serif;
	text-align: center;
	background-color: #000000;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background: var(--preta);
	
 }
 */

body > img {
	margin: 0 10px;
}

header .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
header .logo {
	margin-left: 5px;
	color: var(--vermelho);
	font-family: 'Arial Black', Times;
	font-size: 50px;
}

header nav a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
	font-size: 25px;
	margin-inline-end: 15px;
}

header nav a:hover {
	color: #0066ff;
}

header .logo:hover {
	color: white;
}
footer .rodape {
	height: 40px;
	margin-left: 8px;
	border-radius: 50px;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	text-decoration: none;
}

.botao {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;

	padding: 15px 30px;
	margin-right: 15px;
	font-size: 12px;

	cursor: pointer;
	transition: 3s ease all;
}

.botao:hover {
	background-color: white;
}
.botao i {
	margin: flex;
	color: #e50914;
}
.botaolink {
	text-decoration: none;
	color: red;
	cursor: pointer;
}

.botao log {
	display: inline-block;
	height: 134px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 104px;
	cursor: pointer;
	right: 20px;
}

.container {
	margin-left: 20px;
}

.filme-principal .container {
	width: 70%;
}

.box-link {
	height: 100%;
	width: 100%;
	display: flex;
	cursor: pointer;
}

.zoom {
	overflow: hidden;
}

.box-link {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}
.cover > img {
	margin: 0 10px;
	align-items: center;
	max-width: 300px;
	max-height: 350px;
	width: 200px;
	height: 250x;
}

@media screen and (max-width: 700px) {
	header .container {
		flex-direction: column;
	}
	.botao {
		margin-top: 5px;
		width: 300px;
	}
	@media screen and (min-width: 1000px) {
		.descricao {
			width: 50%;
		}
	}
}

.container img {
	max-width: 200px;
	max-height: 150px;
	width: auto;
	height: auto;
}

.erro {
	font-size: 20px;
	color: red;
}

input {
	margin: 4px;
	padding: 6px;
	border-radius: 5px;
}

.page-logo {
	width: 160px;
}

img:hover {
	-moz-transform: scale(3.5);
	-webkit-transform: scale(3.5);
	transform: scale(3.5);
	background-position: center center;
	border: 6px solid #0066ff;
}
